body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background: #d93b8b;
}

label,
input,
select {
    display: block;
    margin-bottom: 10px;
}

.agendar {
    background-color: #d93b8b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}